
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #d11111;
}
.cart-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000000;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container label {
  display: block;
  margin-bottom: 10px;
}

.input-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.items-container {
  margin-top: 20px;
}

.item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.item p {
  margin: 5px 0;
}



.button-add{
  padding: 13px;
  width: 10%;
    border-radius: 8px;
    border: none;
    background: white;
    cursor: pointer;
    color: black;
    animation: 4s;
    transition: 1s;
}

.button-download-pdf{
  padding: 13px;
  width: 10%;
    border-radius: 8px;
    border: none;
    background: #f21361;
    cursor: pointer;
    color: white;
    animation: 4s;
    transition: 1s;
}

.button-add:hover{
  background:rgb(143, 143, 143);
}

.button-download-pdf:hover{
  background:#b62f5e;
}